@(env: String, metricsCharts: Seq[tools.Chart], fastlyCharts: Seq[tools.Chart], healthyHostChartsA: Seq[tools.Chart], healthyHostChartsB: Seq[tools.Chart])

@import tools.Chart

@admin_main("Streamview", env, isAuthed = true) {


<script src="@routes.Assets.at("javascripts/components/jquery/jquery.js")"></script>
<script src="@routes.Assets.at("javascripts/components/jquery-ui/ui/jquery-ui.js")"></script>


<!--script type="text/javascript" src="js/Three.js"></script-->
<!--script type="text/javascript" src="@routes.Assets.at("javascripts/components/sparks/examples/CanvasShaders.js")"></script-->
<script type="text/javascript" src="@routes.Assets.at("javascripts/components/sparks/Sparks.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/components/sparks/examples/js/RequestAnimationFrame.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/components/sparks/examples/js/Stats.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/components/sparks/examples/js/Tween.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/components/sparks/examples/CanvasShaders.js")"></script>


<style>
    .navbar {
        margin-bottom: 5px;
    }

    .streamview {
        position: relative;
        background-color: #111;
        width: 100%;
        height: 500px;
        margin-bottom: 40px;
    }

    .streamview canvas {
        background-color: #000;
    }
</style>


        <script type="x-shader/x-vertex" id="vertexshader">

            uniform float amplitude;
            attribute float size;
            attribute vec3 customColor;

            varying vec3 vColor;

            void main() {

                vColor = customColor;

                vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

                //gl_PointSize = size;
                gl_PointSize = size * ( 100.0 / length( mvPosition.xyz ) );

                gl_Position = projectionMatrix * mvPosition;

            }

        </script>

        <script type="x-shader/x-fragment" id="fragmentshader">

            uniform vec3 color;
            uniform sampler2D texture;

            varying vec3 vColor;

            void main() {

                gl_FragColor = vec4( color * vColor, 1.0 );
                gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );

            }

        </script>

<div class="streamview"></div>

Alleged instances:
<div class="instances"></div>

<script>
    curl(['@routes.Assets.at("javascripts/streamview/main")'], function(StreamView) {
        StreamView.init({
            serverMetrics: {
                @metricsCharts.map{ chart =>
                    '@chart.name': @Html(chart.asDataset),
                }
            },
            fastlyMetrics: {
                @fastlyCharts.map{ chart =>
                    '@chart.name' : @Html(chart.asDataset),
                }
            },
            healthyHostMetrics: {
                'eu-west-1a' : {
                    @healthyHostChartsA.map {chart =>
                        '@chart.name' : @Html(chart.asDataset),
                    }
                },

                'eu-west-1b' : {
                    @healthyHostChartsB.map {chart =>
                        '@chart.name' : @Html(chart.asDataset),
                    }
                },
            }
        });
    });
</script>



@fastlyCharts.map{ chart => <div id="@chart.id" style="max-width: 900px"></div> }
@metricsCharts.map{ chart => <div id="@chart.id" style="max-width: 900px"></div> }

}
