@(env: String, metricsCharts: Seq[tools.Chart], fastlyCharts: Seq[tools.Chart])

@import tools.Chart

@admin_main("Streamview", env, isAuthed = true) {

<script>

    curl(['@routes.Assets.at("javascripts/streamview/main")'], function(StreamView) {
        StreamView.init({
            serverMetrics: {
                @metricsCharts.map{ chart =>
                    '@chart.name': @Html(chart.asDataset),
                }
            },
            fastlyMetrics: {
                @fastlyCharts.map{ chart =>
                    '@chart.name' : @Html(chart.asDataset),
                }
            }
        });
    });
</script>



@fastlyCharts.map{ chart => <div id="@chart.id" style="max-width: 900px"></div> }
@metricsCharts.map{ chart => <div id="@chart.id" style="max-width: 900px"></div> }

}
