@(commentQueue: Seq[discussion.model.Comment])(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>Moderation Queue</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='@routes.Assets.at("bootstrap-3.0.0/css/bootstrap.min.css")'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

            <!-- Optional theme -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

            <!-- Latest compiled and minified JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <style>
            .list-group li {
                padding: 5px 20px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Moderation Queue</h1>
        <ol class="list-unstyled list-group">
        @for(c <- commentQueue) {
            <li>
                <div class="d-comment__media">
                    <span class="d-comment__avatar-wrapper"><img src="@c.profile.avatar" alt="" class="d-comment__avatar" width="36" height="36" /></span>
                </div>
                <div>
                    <span class="d-comment__author">@c.profile.displayName</span>
                    @if(c.profile.isContributor){<i class="d-badge d-badge--contributor d-comment__author-status" title="Contributor"><span class="d-badge__label">Contributor</span></i>}
                    @if(c.profile.isStaff){<i class="d-badge d-badge--guardian-staff d-comment__author-status" title="Guardian staff"><span class="d-badge__label">Guardian Staff</span></i>}
                </div>
                <p>@c.body</p>
                <form method="POST" role="form">
                @for(i <- c.insight) {
                    <div class="row well well-sm">
                    <div class="col-sm-4">@i.describe</div>
                    <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="@i.id" value="yes">
                        Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="@i.id" value="no">
                        No
                    </label>
                    </div>
                    </div>
                }
                    <input type="hidden" name="id" value="@c.id">
                    <button class="btn btn-success" name="action" value="approve">Approve</button>
                    <button class="btn btn-danger" name="action" value="reject">Reject</button>
                </form>
            </li>
        }
        </ol>
        </div>
    </body>
</html>