@(model: ArticlePage)(implicit request: RequestHeader)
@import conf.Switches._

@defining((model.article, model.storyPackage)) { case (article, storyPackage) =>
    <div class="article-wrapper monocolumn-wrapper">
        <div class="article-v2__inner">
            <h2 class="article-zone type-1">
                <a class="zone-color" data-link-name="article section" href="@LinkTo{/@article.section}">@Html(article.sectionName)</a>
            </h2>
        </div>
        <article id="article" class="article @if(article.isLive){is-live}"
                 itemprop="mainContentOfPage" itemscope itemtype="@article.schemaType" role="main">
            <div class="article-v2__inner" style="max-width: none">
                <header class="article__head">

                    @fragments.headline(article.headline)

                    @fragments.standfirst(article)

                    @fragments.article.dateline(article.webPublicationDate)

                </header>

                @fragments.witnessCallToAction(article)

                <div class="after-header"></div>
            </div>
            <div class="article-v2__columning-wrapper">
                <div class="article-v2__main-column">

                    @if(!article.hasVideoAtTop) {
                        @article.mainPicture.map{ mainPicture =>
                            @article.mainPicture(width=220).map{ smallCrop =>
                                @fragments.img(mainPicture, smallCrop)
                            }
                        }
                    }

                    <div class="article__meta-container">
                        @fragments.byline(article.byline, article)

                        @fragments.article.dateline(article.webPublicationDate, secondary=true)
                        <div class="js-comment-count"></div>
                    </div>

                    <div class="js-article__container article__container u-cf">
                        <div class="article-body from-content-api"
                        itemprop="@if(article.isReview){reviewBody} else {articleBody}">
                            @BodyCleaner(article, article.body)
                        </div>
                    </div>

                    <div class="social-wrapper">
                        @fragments.social(article)
                    </div>
                </div>
                <div class="article-v2__secondary-column" aria-hidden="true">
                    <div class="article-v2__secondary-column__inner">
                        <div class="u-table">
                            <div class="u-table__row">
                                <div class="u-table__cell u-table__cell--top">
                                    @fragments.social(article, "next to content")
                                </div>
                            </div>
                            <div class="u-table__row">
                                <div class="u-table__cell u-table__cell--bottom">
                                    @if(storyPackage.nonEmpty && ABRightHandCard.isSwitchedOn) {
                                        @fragments.cards.card(storyPackage.last, "right", "More on this story", "Story package card", "hidden")
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <div class="article-v2__inner" style="max-width: none">
            @if(DiscussionSwitch.isSwitchedOn && article.isCommentable) {
                <link rel="stylesheet" href='@routes.Assets.at("bootstrap-3.0.0/css/bootstrap.min.css")'>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
                <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

                    <!-- Optional theme -->
                <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

                    <!-- Latest compiled and minified JavaScript -->
                <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
                <script>
                $(window).load(function() {
                    function register() {$('#d-comment-form' ).submit(function(e) {
                        e.preventDefault();

                        var formEl = e.target

                        var checked = $('#expertise').is(':checked');

                        if (checked) {
                            $('#modal-expertise').modal({show: true, backdrop: false})
                            $('#expertise-ok' ).click(function() {
                                $('expertise-tags-h' ).val($('#expertise-tag').val())
                                $('#modal-expertise').modal({show: false})
                                formEl.submit()
                            })
                        } else {
                            formEl.submit()
                        }
                    })
                    }
                    function attemptToRegister() {
                        if (!$('#d-comment-form').length) {
                            setTimeout(attemptToRegister, 500)
                        } else {
                            register()
                        }
                    }
                    attemptToRegister()

                })
                </script>

                <style>
                    ul.insight-status {
                        margin: 10px 0 0 0;
                    }

                    ul.insight-status li {
                        background-color: #4490ce;
                        padding: 5px;            
                        display: block;            
                        width: 73px;
                        font-weight: bold;
                        color: #ffffff;
                        margin-bottom: 3px;
                    }

                    ul.insight-status div {
                        display: inline;
                        vertical-align: middle;
                    }

                    ul.insight-status span {
                        display: inline-block;
                        background-repeat: no-repeat;
                        width: 37px;
                        height: 25px;
                        text-indent: -1000em;
                        background-size: 100%;
                    }

                    li.expertise span {
                        background-image: url(http://i.imgur.com/JuT9w3P.png);
                    }

                    li.eyewitness span {
                        background-image: url(http://i.imgur.com/mD8JR6G.png);
                    }

                    li.experience span {
                        background-image: url(http://i.imgur.com/H89iTdU.png);
                    }
                </style>

                <h3 id="comments" class="type-2 article-zone">Comments</h3>
                <div class="article__discussion"></div>

                <div class="d-show-cta-wrapper">
                    <a class="d-show-cta js-show-discussion" href="@LinkTo{/discussion@article.shortUrlId}"
                       data-is-ajax data-link-name="View all comments"
                       data-discussion-id="@article.shortUrlId"
                       data-discussion-open="@article.isCommentable">
                        View all comments <span class="d-commentcount speech-bubble"><span class="js-commentcount__number"></span></span>
                    </a>
                </div>

                <div class="modal" id="modal-expertise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">What is your expertise in relation to?</h4>
                            </div>
                            <div class="modal-body">
                                <select class="form-control" id="expertise-tag">
                                    @for(tag <- article.tags) {
                                        @if(tag.tagType == "keyword") {
                                            <option>@tag.name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="expertise-ok">OK</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            }
            @if(storyPackage.nonEmpty) {
                <aside role="complementary" data-link-context="@article.section">
                    @fragments.relatedTrails(storyPackage, heading = "More on this story", visibleTrails = 5)
                </aside>
            } else {
                <aside class="js-related" role="complementary" data-link-context="related@article.url"></aside>
            }

            <div class="js-popular article__popular" role="complementary"></div>
        </div>
    </div>
}
